:root {
    --color: #f7f7f7;
    --bgcolor: #555555;
    --bt-bg: #8484fc;
    --bt-bg-hover: #5c5cfc;
    --color-h: #f3e851;
}

* {
    margin: 0px;
    border: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--bt-bg);
}
a:hover {
    color: var(--color-h);
}

input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    color: var(--color);
    background-color: var(--bt-bg);
    border-radius: 7px;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--bt-bg-hover);
}

input {
    border-radius: 7px;
}

body {
    color: var(--color);
    background-image: url('../bg.svg');
    background-color: var(--bgcolor);
    font-family: roboto;
}

.content {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 30px;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}